<div class="row" ng-controller="ContactsCtrl">

  <!-- form for adding new contact -->
     <form ng-submit="contacts.addFormSubmit()" ng-show="addFormShow">
       <h3>Add Contact</h3>
       <!-- Add Form -->
       <div class="row">
           <div class="large-6 columns">
             <label>Name:
               <input type="text" ng-model="contacts.name" placeholder="Contact Name" required />
             </label>
           </div>
           <div class="large-6 columns">
             <label>Email:
               <input type="text" ng-model="contacts.email" placeholder="Contact Email" required />
             </label>
           </div>
        </div>
        <div class="row">
           <div class="large-6 columns">
             <label>Company:
               <input type="text" ng-model="contacts.company" placeholder="Company Name" />
             </label>
           </div>
           <div class="large-6 columns">
             <label>Work Phone:
               <input type="text" ng-model="contacts.work_phone" placeholder="Work Phone" />
             </label>
           </div>
        </div>
        <div class="row">
           <div class="large-6 columns">
             <label>Mobile Phone:
               <input type="text" ng-model="contacts.mobile_phone" placeholder="Mobile Phone" />
             </label>
           </div>
           <div class="large-6 columns">
             <label>Home Phone:
               <input type="text" ng-model="contacts.home_phone" placeholder="Home Phone" />
             </label>
           </div>
        </div>
        <div class="row">
           <div class="large-6 columns">
             <label>Street Address:
               <input type="text" ng-model="contacts.street_address" placeholder="Street Address" />
             </label>
           </div>
           <div class="large-6 columns">
             <label>City:
               <input type="text" ng-model="contacts.city" placeholder="City" />
             </label>
           </div>
        </div>
        <div class="row">
           <div class="large-6 columns">
             <label>State:
               <input type="text" ng-model="contacts.state" placeholder="State" />
             </label>
           </div>
           <div class="large-6 columns">
             <label>Zip Code:
               <input type="text" ng-model="contacts.zipcode" placeholder="Zip Code" />
             </label>
           </div>
        </div>
        <div class="row">
           <div class="large-12 columns">
               <input type="submit" value="Add Contact" class="button" />
           </div>
        </div>
 </form>

 <!-- body -->
<div class="large-10 columns">
  <h3>Your contacts {{contacts.length}}</h3>
  <table>
    <thead>
      <tr>
        <th width="200px">Name</th>
        <th width="200px">Company</th>
        <th width="25%">Email</th>
        <th width="25%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts">
        <td>{{contact.name}}</td>
        <td>{{contact.company}}</td>
        <td>{{contact.email}}</td>
        <td>
          <a class="button tiny" ng-click="showEditForm(contact)">Edit</a>
          <a class="button tiny alert" ng-click="removeContact(contact)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="small-12 large-2 columns">
  <a class="button large" ng-click="showAddForm()">+</a>
</div>
</div>
